<%= cond do %>
  <% assigns[:img] -> %>
    <%= img_tag @img.src, alt: @img.alt, class: "category__photo" %>
  <% assigns[:icon] -> %>
    <%= content_tag :i, "", class: "category__icon " <> @icon.class %>
  <% true -> %>
    <!-- No Category Entry Image / Icon Provided -->
<% end %>

<h3 class="category__title"><%= @title %></h3>

<%= if assigns[:do] do %>
  <%= assigns[:do] %>
<% end %>
