<section class="section section--tabs section--multi">

  <header class="section__header">
    <h1 class="section__title">Groups</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item">
          <%= link "All Groups", to: Routes.group_path(@conn, :index) %>
        </li>
        <li class="tab-item active">
          <%= link "My Group", to: Routes.group_path(@conn, :show, @current_group.id) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="section__content">
    <h2 class="col-9 col-ml-auto">Add A New Link</h2>
    <%= render "form.html", Map.put(assigns, :action, Routes.group_link_path(@conn, :create, @group)) %>
  </div>
</section>
