<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= component "required.partial.html" %>
  
  <%= if @changeset.action do %>
    <div class="toast toast-error">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group form-group--required <%= validation_status_class(f, :status) %>">
    <%= label f, :status %>
    <%= select f, :status, [
      nil,
      "Planning": "planning",
      "Ready To Load": "ready",
      "Underway": "underway",
      "Received": "received"
    ], class: "form-select select2--shipment-status" %>
    <%= error_tag f, :status %>
  </div>

  <div class="form-group form-group--required <%= validation_status_class(f, :target_date) %>">
    <%= label f, :target_date, "Target Date" %>
    <%= text_input f, :target_date, class: "form-input", placeholder: one_month_from_today() %>
    <%= error_tag f, :target_date %>
    <p class="form-input-desc">
      A specific date, a month, "summer", etc.
    </p>
  </div>

  <div class="form-group form-group--required <%= validation_status_class(f, :sender_address) %>">
    <%= label f, :sender_address, "From" %>
    <%= text_input f, :sender_address, class: "form-input", placeholder: "Glasgow, Scotland" %>
    <%= error_tag f, :sender_address %>
    <p class="form-input-desc">
      Keep this short and sweet.  You can add a detailed route once the shipment is created.
    </p>
  </div>

  <div class="form-group form-group--required <%= validation_status_class(f, :receiver_address) %>">
    <%= label f, :receiver_address, "To" %>
    <%= text_input f, :receiver_address, class: "form-input", placeholder: "Athens, Greece" %>
    <%= error_tag f, :receiver_address %>
    <p class="form-input-desc">
      Keep this short and sweet.  You can add a detailed route once the shipment is created.
    </p>
  </div>

  <div class="form-group  <%= validation_status_class(f, :transport_size) %>">
    <%= label f, :transport_size, "Transport Size" %>
    <%= select f, :transport_size, [nil, "Full Truck (13m / 40ft)", "Half Truck (8m / 26ft)", "Individual Pallets", "Van", "Car", "Shipping Container", "Other"], class: "form-select select2--shipment-transport" %>
    <%= error_tag f, :transport_size %>
    <p class="form-input-desc">
      You can use the shipment description field to provide more information about the shipment's transportation, such as if you'd like to include the length of a van or choose the "Other" option.
    </p>
  </div>

  <div class="form-group <%= validation_status_class(f, :description) %>">
    <%= label f, :description %>
    <%= textarea f, :description, class: "form-input", placeholder: "Add more information about your shipment..." %>
    <%= error_tag f, :description %>
  </div>

  <!-- TODO: none of this has been styled after switching from Kube => Spectre since it was commented out -->
  <!--
  <div class="form-item is-inline">
    <%= label f, :shipping_items %>
    <%= text_input f, :items, placeholder: "soap, food, clothes" %>
    <%= error_tag f, :items %>
  </div>

  <div class="form-item is-inline">
    <%= label f, :Funding %>
    <%= text_input f, :funding, placeholder: "$10.23" %>
    <%= error_tag f, :funding %>
  </div>
  -->

  <%= if assigns[:new_shipment?] do %>
    <%= inputs_for f, :roles, fn fr -> %>
      <fieldset>
        <legend>Your Role</legend>

        <div class="form-group flex-centered--col">
          <%= component "group_logo.partial.html", %{
            conn: @conn,
            group: @group,
            size: :xl
          } %>
          <strong><%= @group.name %></strong>
          <%= hidden_input fr, :group_id %>
        </div>

        <div class="form-group <%= validation_status_class(fr, :role) %>">
          <div class="col-9 col-ml-auto">
            <p>
              Check all the roles that describe your contribution to the shipment!  You can use the role description to provide more information, especially if you check "Other".
            </p>
            <p class="text-bold">
              Roles
            </p>
          </div>
          <%= error_tag fr, :role %>
        </div>

        <div class="form-group <%= validation_status_class(f, :supplier?) %>">
          <%= label fr, :organizer?, class: "form-checkbox" do %>
            <%= checkbox fr, :organizer? %>
            <i class="form-icon fas fa-check"></i>
            Organizer
          <% end %>
          <%= error_tag fr, :organizer? %>
          <p class="form-input-desc">You are the primary point of contact for the shipment, and/or are doing administrative work to put it together.  Other groups who wish to contribute to the shipment should reach out to you to get involved.</p>
        </div>

        <div class="form-group <%= validation_status_class(f, :supplier?) %>">
          <%= label fr, :supplier?, class: "form-checkbox" do %>
            <%= checkbox fr, :supplier? %>
            <i class="form-icon fas fa-check"></i>
            Supplier
          <% end %>
          <%= error_tag fr, :supplier? %>
          <p class="form-input-desc">You are adding aid that you've collected to the shipment.  Your available inventory will show up in the list of "Available Aid" on the main shipment page, so that receiving groups can ask for specific items.</p>
        </div>

        <div class="form-group <%= validation_status_class(f, :receiver?) %>">
          <%= label fr, :receiver?, class: "form-checkbox" do %>
            <%= checkbox fr, :receiver? %>
            <i class="form-icon fas fa-check"></i>
            Receiver
          <% end %>
          <%= error_tag fr, :receiver? %>
          <p class="form-input-desc">You are receiving some or all of the aid on the shipment, to distribute in the field.  Your needs list will show up in the list of "Needed Aid" on the main shipment page, so that supplying groups know what to include.</p>
        </div>

        <div class="form-group <%= validation_status_class(f, :supplier?) %>">
          <%= label fr, :funder?, class: "form-checkbox" do %>
            <%= checkbox fr, :funder? %>
            <i class="form-icon fas fa-check"></i>
            Funder
          <% end %>
          <%= error_tag fr, :funder? %>
          <p class="form-input-desc">You are contributing funds to cover part or all of the costs related to the shipment.</p>
        </div>

        <div class="form-group <%= validation_status_class(f, :supplier?) %>">
          <%= label fr, :other?, class: "form-checkbox" do %>
            <%= checkbox fr, :other? %>
            <i class="form-icon fas fa-check"></i>
            Other
          <% end %>
          <%= error_tag fr, :other? %>
          <p class="form-input-desc">You are doing something else not described by the default roles!  You can use the role description to provide more information about your contribution.</p>
        </div>

        <div class="form-group <%= validation_status_class(fr, :description) %>">
          <%= label fr, :description %>
          <%= textarea fr, :description, class: "form-input", placeholder: "Include other details about your role in the shipment..." %>
          <%= error_tag fr, :description %>
        </div>

      </fieldset>
    <% end %>
  <% end %>

  <div class="form-group col-9 col-ml-auto">
    <%= submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
