<section class="section section--tabs">
  <header class="section__header">
    <h1 class="section__title">Shipments</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item">
          <%= link "All Shipments", to: Routes.shipment_overview_path(@conn, :index) %>
        </li>
        <li class="tab-item active">
          <%= link "My Shipments", to: Routes.group_shipment_path(@conn, :index, @current_group) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="section__content section__content--thin">
    <%= if length(@shipments) == 0 do %>
      <div class="col-8 p-centered">
        <%= render "shipment-guidance.partial.html" %>
      </div>
    <% end %>

    <%= render "index-table.partial.html", %{
      conn: @conn,
      group: @group,
      shipments: @shipments,
      can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
    } %>
  </div>

</section>
