<section class="section section--tabs section--multi">

  <header class="section__header">
    <h1 class="section__title">Shipments</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item">
          <%= link "All Shipments", to: Routes.shipment_overview_path(@conn, :index) %>
        </li>
        <li class="tab-item active">
          <%= link "My Shipments", to: Routes.group_shipment_path(@conn, :index, @current_group) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="columns">
    <div class="column col-6">
      <div class="section__content">
        <%= render FerryWeb.ShipmentView, "show-details.partial.html", %{
          conn: @conn,
          group: @group,
          shipment: @shipment,
          can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
        } %>
      </div>
    </div>
    <div class="column col-6">
      <div class="section__content">
        <%= render FerryWeb.RouteView, "index-list.partial.html", %{
          conn: @conn,
          group: @group,
          shipment: @shipment,
          can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
        } %>
      </div>
    </div>
  </div>

  <div class="section__content">
    <%= render FerryWeb.RoleView, "index-list.partial.html", %{
      conn: @conn,
      group: @group,
      shipment: @shipment,
      can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
    } %>
  </div>

  <!-- TODO: add Order -->
  <div class="section__content section__content--thin">
    <div class="content-header">
      <h3 class="content-header__title">
        Needs
      </h3>
    </div>

    <div id="needs">
      <%= render FerryWeb.ManifestView, "needs-list.partial.html", %{conn: @conn, needs: @needs} %>
    </div>
  </div>

</section>
