<%= form_for @changeset, @action, [multipart: true, class: "form-horizontal"], fn f -> %>
  <%= component "required.partial.html" %>

  <%= if @changeset.action do %>
    <div class="toast toast-error">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group form-group--required <%= validation_status_class(f, :name) %>">
    <%= label f, :name %>
    <%= text_input f, :name, class: "form-input", placeholder: "Mutual Aid Solidarity Club" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group <%= validation_status_class(f, :logo) %>">
    <%= label f, :logo %>
    <%= file_input f, :logo, class: "form-input" %>
    <%= error_tag f, :logo %>
  </div>

  <div class="form-group <%= validation_status_class(f, :description) %>">
    <%= label f, :description %>
    <%= textarea f, :description, class: "form-input", placeholder: "Tell us about your group..." %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group col-9 col-ml-auto">
    <%= submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
