<%= if has_groups? @groups do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Controls</th>
        <th>Projects</th>
      </tr>
    </thead>
    <tbody>
  <%= for group <- @groups do %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td>
          <span><%= link "Show", to: Routes.group_path(@conn, :show, group), class: "btn btn-sm" %></span>
          <span><%= link "Edit", to: Routes.group_path(@conn, :edit, group), class: "btn btn-sm" %></span>
          <span><%= link "Delete", to: Routes.group_path(@conn, :delete, group), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-sm" %></span>
        </td>
        <td>
          <%= link "Projects", to: Routes.group_project_path(@conn, :index, group) %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>

<% else %>
  <p>
    No groups have been created.
  </p>
<% end %>
