<section class="section section--tabs section--multi">

  <header class="section__header">
    <h1 class="section__title">Groups</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <%= if @current_group != nil && @current_group.id == @group.id do %>
          <li class="tab-item">
            <%= link "All Groups", to: Routes.group_path(@conn, :index) %>
          </li>
        <% else %>
          <li class="tab-item active">
            <%= link "All Groups", to: Routes.group_path(@conn, :index) %>
          </li>
        <% end %>

        <%= if @current_group != nil do %>
          <%= if @current_group.id == @group.id do %>
            <li class="tab-item active">
              <%= link "My Group", to: Routes.group_path(@conn, :show, @current_group.id) %>
            </li>
          <% else %>
            <li class="tab-item">
              <%= link "My Group", to: Routes.group_path(@conn, :show, @current_group.id) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
    <%= if is_nil(@current_group) do %>
      <%= link to: Routes.user_path(@conn, :new), class: "btn btn-primary tooltip tooltip-left section__action", data: [tooltip: "Sign up for an account to add your group's profile!"] do %>
        <i class="fas fa-lg fa-plus-circle is-icon-left"></i> Add Your Group
      <% end %>
    <% end %>
  </header>

  <div class="section__content">
    <div class="content-header content-header--no-underline">
      <%= component "group_logo.partial.html", %{
        conn: @conn,
        group: @group,
        size: :xxl
      } %>

      <h2 class="content-header__title"><%= @group.name %></h2>

      <%= component "action.partial.html", %{
        action: :edit,
        authorized?: !is_nil(@current_group) && @group.id == @current_group.id,
        route: Routes.group_path(@conn, :edit, @current_group)
      } %>
    </div>

    <%= if @group.description do %>
      <p>
        <%= @group.description %>
      </p>
    <% end %>
  </div>

  <%= if length(@links) > 0 ||  (!is_nil(@current_group) && @group.id == @current_group.id) do %>
    <div class="section__content">
      <%= render FerryWeb.LinkView, "index-list.partial.html", %{
        conn: @conn,
        group: @group,
        links: @links,
        can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
      } %>
    </div>
  <% end %>

  <%= if length(@projects) > 0 ||(!is_nil(@current_group) && @group.id == @current_group.id) do %>
    <div class="section__content">
        <%= render FerryWeb.ProjectView, "index-list.partial.html", %{
          conn: @conn,
          group: @group,
          projects: @projects,
          can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
        } %>
    </div>
  <% end %>

  <%= if length(@addresses) > 0 || (!is_nil(@current_group) && @group.id == @current_group.id) do %>
    <div class="section__content">
      <%= render FerryWeb.AddressView, "index-list.partial.html", %{
        conn: @conn,
        group: @group,
        addresses: @addresses,
        can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
      } %>
    </div>
  <% end %>

  <%= if length(@shipments) > 0 || (!is_nil(@current_group) && @group.id == @current_group.id) do %>
    <div class="section__content">
      <%= render FerryWeb.ShipmentView, "index-list.partial.html", %{
        conn: @conn,
        group: @group,
        shipments: @shipments,
        can_modify?: !is_nil(@current_group) && @group.id == @current_group.id
      } %>
    </div>
  <% end %>

</section>
